#navbar {
    padding: 5px;
    flex-direction: column;
}

#navbar i {
    display: none;
}

#navbar ul li a{
    font-size: 3vw;
}

#home {
    font-size: 2vw;
}

#about {
    font-size: 1.75vw;
}

.experience-items {
    flex-direction: column;
}